* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-container {
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'Roboto';
  font-size: 38px;
  color: #171f46;
}

.description {
  font-family: 'Roboto';
  font-size: 15px;
  color: #64748b;
  width: 60%;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  justify-content: center;
  width: 80%;
}

@media screen and (max-width: 991px) {
  .heading {
    font-size: 20px;
  }
  .description {
    font-size: 11px;
    width: 80%;
  }

  .list-container {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
